.TweetContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
}

.BigContainer {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.retweetFiller {
    width: 10%;
}

.Profile {
    flex-basis: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    justify-content: flex-start;
    align-items: center;

}

.Profile img {
    border-radius: 9999px;
}

.ContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 95%;
    gap: 20px;
}

.ProfileInfo {
    display: flex;
}

.InnerContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.LeftProfileInfo {
    flex-basis: 95%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.LeftProfileInfo img {
    border-radius: 50%;
}

.Options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 5%;
    height: 2rem;
}

.Point,
.UserName,
.Time,
.ImageContainer span,
.ExtraSpan {
    color: rgb(113, 118, 123);
}

.Name {
    font-weight: 700;
}

.FooterContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.CRHS {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.183);
    border-bottom: 1px solid rgba(255, 255, 255, 0.183);
    padding: 0.8rem;
}

.ImageContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.ImageContainer span {
    font-size: 0.8rem;
}

.SS {
    flex-basis: 15%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.Overall {
    padding-bottom: 1rem;
}

.Overall::-webkit-scrollbar {
    display: none;
}