.alignment {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    width: 100%;
    height: 100%;
}

.profile {
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.profile::-webkit-scrollbar {
    display: none;
}

@media(max-width: 950px) {
    .alignment {
        grid-template-columns: 20% 80%;
    }

    .profile {
        border-right: 1px solid rgba(255, 255, 255, 0.183);
    }
}