.sideNav-div {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.183);
    grid-column: 1/2;
    font-weight: 500;
    position: sticky;
    min-height: 600px;

}

.nav-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    height: 60%;
    padding-left: 15%;
    padding-right: 20px;

}

.logo h1 {
    margin-bottom: -20px;

}

.nav-list a,
.nav-list button {
    flex-grow: 1;
    text-decoration: none;
    color: white;
    overflow-x: hidden;
}

.nav-list a {
    display: flex;
    align-items: center;
    gap: 1em;

}

.nav-list a label {
    font-size: 1.5rem;
}

.nav-list button {
    background-color: #1DA1F2;
    border: none;
    border-radius: 40px;
    margin-left: -10%;
}

.nav-list button p {
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-list button img {
    display: none;
}

.nav-list a img {
    filter: invert(100%);
}

.nav-list a:first-child img {
    filter: invert(0%);
}

.nav-list:visited {
    color: white;
}

label:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

@media (max-width: 1300px) {
    .nav-list a label {
        display: none;
    }

    .nav-list button {
        background-color: #1DA1F2;
        border: none;
        border-radius: 50%;
        flex-grow: 0;
        height: 48px;
        width: 48px;
        margin-left: 0%;
    }

    .nav-list {
        align-items: center;
    }

    .nav-list button {
        vertical-align: middle;
        height: 60px;
        width: 60px;

    }

    .nav-list button p {
        display: none;
    }

    .nav-list button img {
        display: inline-block;
        filter: invert(100%);
    }

}