.tweetPostContainer {
    display: flex;
    width: 100%;
    min-height: 15%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.183);
}

.profileContainer {
    height: 100%;
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;
}

.profileContainer img {
    border-radius: 9999px;
}

.tweetContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 88%;
    min-height: 100px;
}

.inputContainer {
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputContainer textarea {
    height: 60%;
    width: 95%;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    resize: none;

}

.inputContainer textarea:focus {
    outline: none;
}

.xtrasSubmitContainer {
    flex-basis: 88%;
    max-height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.xtrasSubmitContainer input[type="submit"] {

    width: 67px;
    height: 36px;
    background-color: #1DA1F2;
    border: none;
    font: inherit;
    border-radius: 20px;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.buttonContainer img:nth-of-type(1) {
    border-radius: 5px;
}

.imageContainer {
    display: flex;
    gap: 10px;
}

.imageContainer2 {
    position: relative;
}

.imageContainer2 button[type="button"] {
    border: none;
    font: inherit;
    font-size: 0.5rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.imageContainer2 img,
.imageContainer2 video {
    object-fit: cover;
}


.imageContainer2 button img {
    filter: invert(100%);
}