.DashboardContainer {
    width: 100%;
    height: 30%;
    min-height: 150px;
    display: flex;
    min-width: fit-content;
    border-bottom: 1px solid rgba(255, 255, 255, 0.183);
}

.ProfileContainer {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.ProfileContainer img {
    max-height: 134px;
    max-width: 134px;
    border-radius: 999999px;
    margin-left: 10px;
}

.InfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    margin-left: 10px;
}

.FollowContainer {
    flex-basis: 45%;
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
}

.NameDiv {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
    font-size: 2rem;
}

.username {
    color: rgb(113, 118, 123);
    font-size: 1.25rem;
}

.date {
    color: rgb(113, 118, 123);
    font-size: 1.25rem;
}

.followerStats {
    display: flex;
}

.following,
.followers {
    width: 100%;
    display: flex;
    gap: 5px;
    font-size: 1.25rem;
}

.followButton {

    background-color: white;
    color: black;
    min-width: 78px;
    height: 32px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-start;
}