.alignment {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  width: 100%;
  height: 100%;
}

.home {

  grid-column: 2/3;

}

.search-follow {
  grid-column: 3/4;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.183);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  min-height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202327;
  height: 70%;
  border-radius: 30px;
  gap: 20px;
}

.search-div input {
  border: none;
  background-color: #202327;
  width: 80%;
  height: 100%;
  font-size: 15px;
  color: white;
}

.search-div input:focus {
  outline: none;
}

.search-div img {
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(213deg) brightness(93%) contrast(87%);
}

@media (max-width: 900px) {
  .alignment {
    display: grid;
    grid-template-columns: 20% 70%;
    width: 100%;
    height: 100%;
  }

  .search-follow {
    display: none;
  }

  .home {

    border-right: 1px solid rgba(255, 255, 255, 0.183);

  }

}

.follow-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid rgba(255, 255, 255, 0.183);
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
}

.follow-container h1 {
  font-size: 1.5rem;
}


.follow-list {
  max-height: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 15px;

}

.follow-list a {

  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;

}

.follow-list a button {
  background-color: white;
  color: black;
  min-width: 78px;
  height: 32px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.follow-list a img {
  filter: invert(100%);
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;

}

.name-link {
  flex-basis: content;
}

.name-link h4 {
  font-size: 1rem;
}

.name-link p {
  font-size: 0.8rem;
}

.scrollableDiv {
  overflow-y: scroll;
  max-height: 90vh;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.scrollableDiv::-webkit-scrollbar {
  display: none;
}