.alignment {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  width: 100%;
  height: 100%;
}

.home {
  grid-column: 2 / 3;
}

.search-follow {
  grid-column: 3 / 4;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.183);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  min-height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202327;
  height: 70%;
  border-radius: 30px;
  gap: 20px;
}

.search-div input {
  border: none;
  background-color: #202327;
  width: 80%;
  height: 100%;
  font-size: 15px;
  color: white;
}

.search-div input:focus {
  outline: none;
}

.search-div img {
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(213deg) brightness(93%) contrast(87%);
}

@media (max-width: 900px) {
  .alignment {
    grid-template-columns: 20% 70%;
  }

  .search-follow {
    display: none;
  }

  .home {
    border-right: 1px solid rgba(255, 255, 255, 0.183);
  }
}

.follow-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid rgba(255, 255, 255, 0.183);
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
}

.follow-container h1 {
  font-size: 1.5rem;
}

.follow-list {
  max-height: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 15px;
}

.follow-list .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.follow-list .info button {
  background-color: white;
  color: black;
  min-width: 78px;
  height: 32px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.info img {
  border-radius: 50%;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info a {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Space between the image and name */
  text-decoration: none;
  /* Remove underline for links */
  color: inherit;
  /* Inherit color from parent */
}

.name-link {
  display: flex;
  flex-direction: column;
}

.name-link h4 {
  font-size: 1rem;
  margin: 0;
}

.name-link p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}


.scrollableDiv {
  overflow-y: auto;
  max-height: 100vh;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.scrollableDiv::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}